.form-container{
    display: flex;
    flex-direction: column;
    border-radius: calc(.25rem - 1px);
    box-shadow: 0px 0px 30px #1857b42f;
    overflow: hidden;
    margin: 0 0 50px 0;
}

.form-title{
    background-color: var(--secondary-75);
    border-bottom: 1px solid var(--primary-100);
    padding: 15px 20px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.form-fields{
    background-color: var(--white);
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}