.field-container{
    display: flex;
    width: 100%;
    padding: 0px 15px;
    position: relative;
}

.field-label{
    display: flex;
    background-color: var(--secondary-75);
    align-items: center;
    border-radius: 10px 0 0 10px;
    padding: 10px 10px;
    gap: 5px;
    min-width: 180px;
    box-sizing: border-box;
}

.field-input{
    outline: 0;
    border: 0;
    border-bottom: 1px solid var(--primary-100);
    background: transparent;
    padding: 0 10px;
    width: 100%;
    position: relative;
}

.field-input:focus{
    background-color: var(--primary-75);
}

.telephone-input{
    padding-left: 50px;
    position: relative;
}

.telephone-input::before{
    content: "+569";
    display: flex;
    visibility: visible;
    position: absolute;
    color: black;
    top: 10px;
    width: 100px;
    height: 100px;
    z-index: 1000;
}