.rut-field{
    width: 50%;
    margin: auto;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-evenly;
}

.rut-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
}

.rut-indicator{
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
}

.rut-failed{
    color: red;
}

.rut-verified{
    color: green;
}

.rut-found{
    color: var(--primary-100)
}

.rut-label{
    width:20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.rut-input{
    display: flex;
        height: 100%;

    width: 100%;
    height: 30px;
    border: 1px solid var(--secondary-100);
    border-radius: 10px;
    padding: 5px 20px;
    transition: 200ms;
}

.rut-input:focus-within{
    border: 1px solid var(--primary-100);
    background-color: var(--primary-75);
}

.rut-input input{
    font-size: 20px;
    border: 0;
    width: 100%;
    outline: 0;
    background: transparent;
    text-align: center;
}

