:root{
  --primary-100: #5672ff;
  --primary-75: #7e93fa3f;
  --secondary-100: #495057;
  --secondary-75: #f2f4ff;
  --white: #fafafa;
  --black: #121212;
  --tertiary-100: #f7ca90;
  --tertiary-75: #fce6c9;
  box-sizing: border-box;
  
}


.text-form-title{
  font-size: 1.25rem;
  font-family: 'Encode Sans', sans-serif;
  font-weight: 500;
  color: var(--primary-100);
}

.text-help{
  font-size: 1.3rem;
  font-family: 'Calibri';
  color: var(--secondary-100);
}

.text-field-label{
  font-size: 1rem;
  font-family: 'Calibri';
  color: var(--black);
}

.text-field-label-white{
  font-size: 1.2rem;
  font-family: 'Calibri';
  color: var(--white);
}

.text-header{
  font-size: 1.75rem;
  font-family: 'Encode Sans', sans-serif;
  font-weight: 500;
}
body {
  margin: 0;
  width: 100%;
  background-color: var(--secondary-75);
  background-image: url(../public/page-bg.svg);
  background-size: cover;
}

html{
  display: block;
  width: 100%;
}


