:root{
  --blue: #5672ff;
  --white: #fafafa;
  --gray: #495057;
  --black: #121212;
  box-sizing: border-box;
  
}


.text-form-title{
  font-size: 1.25rem;
  font-family: 'Encode Sans', sans-serif;
  font-weight: 500;
  color: var(--blue);
}

.text-help{
  font-size: 1.3rem;
  font-family: 'Calibri';
  color: var(--gray);
}

.text-field-label{
  font-size: 1rem;
  font-family: 'Calibri';
  color: var(--black);
}

.text-header{
  font-size: 1.75rem;
  font-family: 'Encode Sans', sans-serif;
  font-weight: 500;
}
body {
  margin: 0;
  background-color: #F2F4FF;
  background-image: url(../public/page-bg.svg);
  background-size: cover;
}


