.not-found-background{
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: var(--primary-100);
    display: flex;
    justify-content: center;
    align-items: center;
}

.not-found-content{
    font-size: 2.5rem;
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    padding: 0 10%;
}

.not-found-image{
    display: flex;
    width: 100px;
    height: 100px;
    background-color: var(--white);
    border-radius: 100%;
    object-fit: fill;
    padding: 30px 30px;
    border: 1px solid var(--black);
}

